@model Tuple<List<DataBaseModel.Entity.Tenant>,List<DataBaseModel.Entity.Renter>>
@{
    KursProjectDataBase.Helpers.HashHelper hashHelper = new();
    string view = ViewBag.Role == "Tenant" ? "Съёмщики" : "Арендодатели";
    string roles = ViewBag.Role;
}

<form asp-action="UsersList" method="get">

    <div class="w-auto">
        <div class="btn-group">
            <button type="submit" class="dropdown-item rounded-2" rounded-2" name="role" value="@(ViewBag.Role = "Renter")" onclick="@(ViewBag.Role = "Renter")">
                Арендодатели
            </button>
            <div class="m-md-1"></div>
            <button type="submit" class="dropdown-item rounded-2" rounded-2" name="role" value="@(ViewBag.Role = "Tenant")" onclick="@(ViewBag.Role = "Tenant")">
                Съёмщики
            </button>
            <h3>|</h3>
        </div>
        @view
        <input type="number" min="1" max="20" class="form-control w-25" name="count" value="@ViewBag.Count" onclick="@(ViewBag.Role = roles)" placeholder="Количество контрактов"></>
@*        <div class="btn-group">
            <input type="text" class="form-control h-50 w-100" name="email" value="@ViewBag.Email" placeholder="Email"/>
            <button type="submit" class="dropdown-item rounded-2 h-25" name="email" value="@ViewBag.Email">Отправить</button>
        </div>*@
    </div>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th scope="auto">Имя</th>
            <th>Фамилия</th>
            <th>Контакт</th>
            <th>Пол</th>
        </tr>
    </thead>
    <tbody>
        @if (roles == "Renter")
        {
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>@item.IdU</td>
                    <td>@item.IdUNavigation.Name</td>
                    <td>@item.IdUNavigation.Surname</td>
                    <td>@item.IdUNavigation.Contact</td>
                    <td>@item.IdUNavigation.Sex</td>
                    <td>
                            <a input type"submit" class="btn btn-outline-ifno" asp-action="UserInfo" asp-route-id="@hashHelper.HashString(item.IdU)" asp-route-type="@("Renter")">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                            <a input type"submit" class="btn btn-outline-ifno" asp-action="UserDelete" asp-route-id="@hashHelper.HashString(item.IdU)" asp-route-type="@("Renter")">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else if (roles == "Tenant")
        {
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <td>@item.IdU</td>
                    <td>@item.IdUNavigation.Name</td>
                    <td>@item.IdUNavigation.Surname</td>
                    <td>@item.IdUNavigation.Contact</td>
                    <td>@item.IdUNavigation.Sex</td>
                    <td>
                            <a input type"submit" class="btn btn-outline-ifno" asp-action="UserInfo" asp-route-id="@hashHelper.HashString(item.IdU)" asp-route-type="@("Tenant")">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                            <a input type"submit" class="btn btn-outline-ifno" asp-action="UserDelete" asp-route-id="@hashHelper.HashString(item.IdU)" asp-route-type="@("Tenant")">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</form>