@model KursProjectDataBase.Models.IndexViewModel 
@{
    KursProjectDataBase.Helpers.HashHelper hashHelper = new();
}
@if (Model.Contracts!.Count() != 0)
{
    <form asp-action="Placements" method="get">
        <p>
            <div class="btn-group">

                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                    Фильтр
                </button>
                <ul class="dropdown-menu w-100">
                    <li>
                        <input type="search" class="form-control" name="search" value="@ViewBag.Search" placeholder="Строка поиска" />
                    </li>
                    <li>
                        @using (Html.BeginForm("Placements", "Placement", FormMethod.Get))
                        {
                            <button class="dropdown-item rounded-2 active" rounded-2" name="type" value="@(ViewBag.Type = 1)">
                                Район
                            </button>
                            
                        }
                    </li>
                    <li>
@*                        @using (Html.BeginForm("Placements", "Placement", FormMethod.Get))
                        {
                            <button class="dropdown-item rounded-2" rounded-2" name="type" value="@(ViewBag.Type = 2)">
                                Улица
                            </button>
                        }*@
                    </li>
                </ul>

                <div class="m-md-1"></div>

                

                <a input type"submit" class="btn btn-outline-ifno" asp-action="Placements">
                    
                    <i class="bi bi-x-lg"></i>
                </a>
            </div>
        </p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Арендодатель</th>
                <th scope="auto">Этаж</th>
                <th>Площадь м2</th>
                <th>Кол-во комнат</th>
                <th>Район</th>
                <th>Улица</th>
                <th>Номер</th>
                <th>Тип помещения</th>
                <th>
                        @Html.ActionLink("Оплата в месяц","Placements", new {search = ViewBag.Search, type=ViewBag.Type, state =  ViewBag.State == KursProjectDataBase.Models.IndexViewModel.SortState.Asc ? KursProjectDataBase.Models.IndexViewModel.SortState.Desc
                    : KursProjectDataBase.Models.IndexViewModel.SortState.Asc})
                </th>
                <th>
                        @Html.ActionLink("Сбросить","Placements", new {search = ViewBag.Search, type=ViewBag.Type, state =  ViewBag.State == KursProjectDataBase.Models.IndexViewModel.SortState.None })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Contracts!)
            {
                if (item == null) continue;
                <tr>
                    <td>@item.IdSNavigation.IdRNavigation.IdUNavigation.Name</td>
                    <td>@item.IdPNavigation.Floor</td>
                    <td>@item.IdPNavigation.Square</td>
                    <td>@item.IdPNavigation.Room</td>
                    <td>@item.IdPNavigation.Area</td>
                    <td>@item.IdPNavigation.Street</td>
                    <td>@item.IdPNavigation.Number</td>
                    <td>@item.IdPNavigation.IdTypeNavigation.Type</td>
                    <td>@item.Paymentsize</td>
                    <td>
                        <a input type"submit" class="btn btn-outline-ifno" asp-action="Accommodation" asp-route-id="@hashHelper.HashString(item.IdC)">
                            <i class="bi bi-check2"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    @if (Model.PageViewModel!.HasPreviousPage)
    {
        <a asp-action="Placements"
            asp-route-search="@ViewBag.Search"
            asp-route-state="@ViewBag.State"
            asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-blue">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Placements"
            asp-route-search="@ViewBag.Search"
            asp-route-state="@ViewBag.State"
            asp-route-page="@(Model.PageViewModel.PageNumber + 1)"

           class="btn btn-outline-blue">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
    </form>
}
else
{
    <h3>
        Нет активных объявлений
    </h3>
}
