@model KursProjectDataBase.Models.IndexViewModel 
@{
    KursProjectDataBase.Helpers.HashHelper hashHelper = new();
}

<p style="margin-right: 0px">
    @if (Model.Contracts.Count() != 0)
    {
        <header>Объявления</header>
        <table class="table ">
            <thead>
                <tr>
                    <th scope="auto">Этаж</th>
                    <th>Площадь м2</th>
                    <th>Кол-во комнат</th>
                    <th>Район</th>
                    <th>Улица</th>
                    <th>Номер</th>
                    <th>Тип помещения</th>
                    <th>Оплата в месяц</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Contracts)
                {
                    if (item == null) continue;
                    <tr>
                        <td>@item.IdPNavigation.Floor</td>
                        <td>@item.IdPNavigation.Square</td>
                        <td>@item.IdPNavigation.Room</td>
                        <td>@item.IdPNavigation.Area</td>
                        <td>@item.IdPNavigation.Street</td>
                        <td>@item.IdPNavigation.Number</td>
                        <td>@item.IdPNavigation.IdTypeNavigation.Type</td>
                        <td>@item.Paymentsize</td>
                        <td>
                            <a input type"submit" class="btn btn-outline-ifno" asp-action="Accommodation" asp-route-id="@hashHelper.HashString(item.IdC)">
                                <i class="bi bi-check2"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.PageViewModel!.HasPreviousPage)
        {
            <a asp-action="Placements"
                asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn btn-outline-blue">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Placements"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn btn-outline-blue">
                Вперед
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }

    }
    else
    {
        <h3>
            Нет активных объявлений
        </h3>
    }
</p>
