@model Tuple<DataBaseModel.Entity.User,List<DataBaseModel.Entity.Authorization>,List<DataBaseModel.Entity.Contract>>
@{
    var authorize = Model.Item2.First();
    string who = this.Context.User.FindFirst("role")!.Value;
    KursProjectDataBase.Helpers.HashHelper hashHelper = new();
}

<div class="col-4 gx-4">
    @if(who != "Admin") {<h1>Страница пользователя</h1>}
    else {<h1>Страница администратора</h1>}
    <p>Имя: @Model.Item1.Name</p>
    <p>Фамилия: @Model.Item1.Surname</p>
    <p>Пол: @Model.Item1.Sex</p>
    <p>Контактные данные: @Model.Item1.Contact</p>
    
    @if (who == "Tenant")
    {
        <p>Роль: Съёмщик</p>
        <p>Рейтинг: @Model.Item1.Tenants!.First().Rating</p>
    }
    @if (who == "Renter")
    {
        <p>Роль: Арендодатель</p>
        <p>Лицензия: @Model.Item1.Renters!.First().License</p>
    }
    @if (who == "Admin")
    {
        
    }
    <p>Логин: @authorize.Loginuser</p>
    <p>Пароль: @authorize.Passworduser</p>
</div>

@if (who != "Admin")
{
    <di>
        <form method="post">
            <div class="">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <input type="submit" value="Изменить данные" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </di>
}

<p style="margin-right: 0em">
@if (Model.Item3.Count != 0)
{
        <header>Контракты</header>
        <table class="table">
            <thead>
                <tr>
                @if(who == "Tenant")
                {
                    <th>Арендодатель</th>
                }
                else
                {
                    <th>Съёмщик</th>
                }
                    <th>Описание сделки</th>
                    <th>Дата заключения</th>
                    <th>Оплата</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item3)
                {
                    if (who != "Admin")
                    {
                        if (item.IdSNavigation.IdTNavigation == null) continue;
                        <tr>
                            @if (who == "Tenant")
                            {
                                <td>@item.IdSNavigation.IdRNavigation.IdUNavigation.Name</td>
                            }
                            @if (who == "Renter")
                            {
                                <td>@item.IdSNavigation.IdTNavigation.IdUNavigation.Name</td>
                            }
                            <td>@item.IdSNavigation.Description</td>
                    <td>@item.IdSNavigation.Datesolution</td>
                    <td>@item.Paymentsize</td>
                    <td>
                        <a input type"submit" class="btn btn-outline-ifno" asp-action="PlacementInfo" asp-route-id="@hashHelper.HashString(item.IdC)">
                            <i class="bi bi-check2"></i>
                        </a>
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>
    }
    else{
        if (who != "Admin")
        {
            <h3>
                У вас ещё нет сделок
            </h3>
        }
    }
</p>

